
body{
    background-image: url("Imagens/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
font-family: Roboto Condensed;
    }
    th, td{
        border: 1px solid #ccc;
    }

p{
    color:white;
}
    h2{
    color:white;
}
    tr{
    color:white;
}

    td{
    color:white;
     
     
}
a{
    color:blue;
}

    