body{
    background-image: url("Imagens/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
font-family: Roboto Condensed;
    }
    ul{
        color:white;
    }
    h2{
        color:white;
    }
    p{
        color:white;
    }
    a{
        color:blue;
    }
    img{
        width: 250px;
    }
    